body{
  background-color:rgb(23, 23, 23);
}
.Area{
  font-family: sans-serif;
  text-align: center;
  width: 1100px;
  color:white;
}

.filterArea{
}

.vizArea{
  position:relative;
  width: 100%;
  height:600px
}

.AreaGroups {
  
}

.group{
  position:relative;
  float:left;
  /*border: 1px solid black;*/
	border-left: 1px solid rgb(23,23,23);
  border-bottom: 0px solid grey;
}

rect {
	cursor:pointer;
}

.filterSelect{
  position: relative;
  width: 50%;
  height: auto;
  float: left;
}

.groups{
  position: relative;
  left:0px;
  width:800px;
  height:auto;
  clear: both;
}
npm
.selectSimple{
  width:330px;
  height: 35px;
  margin-bottom:8px;
  position:absolute;
  left:0px;
  top:0px;
}

.lineBlock{
  stroke:rgb(0,0,0);
  stroke-width:1;
}

.lineBlockCross{
  stroke:rgb(30,30,30);
  stroke-width:1;
}

.selectDescription{
  clear: both;
  position:absolute;
  left:345px;
  top:10px;
}

.filterForInput{
  position: relative;
  text-align: left;
}

.filterSelectProperties{
  float: left;
  border:1px solid #ffffff;
  padding: 1px;
  margin: 1px;
  
}

.sideRightColumn{
  position: relative;
  width:cacl(1100px-800px);
}

a{
  color: white;
  padding: 2px;
  border: solid 1px;
  text-decoration: none;
}

.typeAreaSelect{
  position: relative;
  display:block;
  width:1100px;
  height:40px;
}

.typeAreaBtSelect{
  position: relative;
  float: left;
  border:solid 1px white;
  padding: 4px;
  margin:2px; 
}
